<div class="table-operations">
  <button nz-button nzType="default" [disabled]="!allChecked && !indeterminate" [nzLoading]="false">编辑</button>
  <button nz-button nzType="default" [disabled]="!allChecked && !indeterminate" [nzLoading]="false">删除</button>
  <div class="table-search">
    <nz-input-group nzSearch [nzAddOnAfter]="searchBtn">
      <input type="text" nz-input [(ngModel)]="keyword" (keyup)="onSearch($event)" placeholder="Search..." />
    </nz-input-group>
    <ng-template #searchBtn>
      <button nz-button nzType="primary" (click)="onSearch()" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
</div>
<nz-table
  nzShowSizeChanger
  nzSize="middle"
  nzOuterBordered
  nzPaginationType="default"
  nzTableLayout="fixed"
  [nzData]="taxonomyList || []"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total || 0"
  [nzPageIndex]="page"
  [nzPageSize]="pageSize"
  (nzQueryParams)="onQueryParamsChange($event)"
  [nzShowTotal]="rangeTemplate"
>
  <thead>
  <tr>
    <th nzWidth="40px" [nzChecked]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
    <th nzWidth="160px" nzColumnKey="name">名称</th>
    <th nzWidth="160px" nzColumnKey="slug">别名</th>
    <th nzWidth="300px" nzColumnKey="description">描述</th>
    <th nzWidth="80px" nzColumnKey="termOrder" [nzSortFn]="true" [nzSortPriority]="true">排序</th>
    <th nzWidth="100px" nzColumnKey="status">状态</th>
    <th nzWidth="80px" nzColumnKey="count">总数</th>
    <th nzRight>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of taxonomyList">
    <td [nzChecked]="checkedMap[data.taxonomyId] || false" (nzCheckedChange)="onItemChecked(data.taxonomyId, $event)"></td>
    <td nzEllipsis [title]="data.name">{{ data.name }}</td>
    <td nzEllipsis [title]="data.slug">
      <a routerLink="/post" [queryParams]="{category: data.slug}">{{ data.slug }}</a>
    </td>
    <td [title]="data.description">{{ data.description }}</td>
    <td nzEllipsis [title]="data.termOrder">{{ data.termOrder }}</td>
    <td nzEllipsis [title]="data.status">
      <a routerLink="./" [queryParams]="{status: data.status}">{{ data.status | taxonomyStatus }}</a>
    </td>
    <td>{{ data.count }}</td>
    <td nzRight>
      <a href="#">查看</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a href="#">编辑</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a href="#">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
  当前：第 <span style="color: red">{{ range[0] }}-{{ range[1] }}</span> 条，共：<span style="color: red">{{ total }}</span> 条
</ng-template>
