<div class="table-operations">
  <button nz-button nzType="primary" (click)="editTaxonomy()">{{taxonomyType === 'tag' ? '新增标签' : '新增一级分类'}}</button>
  <button nz-button [disabled]="!allChecked && !indeterminate" [nzLoading]="false">编辑</button>
  <button nz-button [disabled]="!trashEnabled" (click)="deleteTaxonomies()">删除</button>
  <button nz-button (click)="updateAllCount(taxonomyType)">
    更新{{taxonomyType === 'link' ? '链接' : '内容'}}数量
  </button>
  <div class="table-search">
    <nz-input-group nzSearch [nzAddOnAfter]="searchBtn">
      <input type="text" nz-input [(ngModel)]="keyword" (keyup)="onSearch($event)" placeholder="Search..."/>
    </nz-input-group>
    <ng-template #searchBtn>
      <button nz-button nzType="primary" (click)="onSearch()" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
</div>
<nz-table
  nzShowSizeChanger
  nzOuterBordered
  nzSize="middle"
  nzTableLayout="fixed"
  nzPaginationType="default"
  [nzData]="taxonomyList || []"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total || 0"
  [nzPageIndex]="page"
  [nzPageSize]="pageSize"
  (nzQueryParams)="onQueryParamsChange($event)"
  [nzShowTotal]="rangeTemplate"
  [nzScroll]="{x: taxonomyType !== 'tag' ? '1000px' : '700px'}"
>
  <thead>
  <tr>
    <th nzWidth="40px" [nzChecked]="allChecked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></th>
    <th nzColumnKey="name">名称</th>
    <ng-container *ngIf="taxonomyType !== 'tag'">
      <th nzWidth="160px" nzColumnKey="slug">别名</th>
      <th nzColumnKey="description">描述</th>
      <th nzWidth="80px" nzColumnKey="termOrder" [nzSortFn]="true" [nzSortPriority]="true">排序</th>
      <th nzWidth="80px" nzColumnKey="isRequired">基础数据</th>
    </ng-container>
    <th nzWidth="100px" nzColumnKey="status" [nzFilters]="statusFilter" [nzFilterFn]="true">状态</th>
    <th nzWidth="100px" nzColumnKey="count" [nzSortFn]="true" [nzSortPriority]="true">
      {{taxonomyType === 'link' ? '链接数量' : '内容数量'}}
    </th>
    <th nzWidth="200px" nzRight>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of taxonomyList">
    <td [nzChecked]="checkedMap[data.taxonomyId] || false"
        (nzCheckedChange)="onItemChecked(data.taxonomyId, $event)"></td>
    <td nzEllipsis [title]="data.taxonomyName">{{ data.taxonomyName }}</td>
    <ng-container *ngIf="taxonomyType !== 'tag'">
      <td nzEllipsis [title]="data.taxonomySlug">{{ data.taxonomySlug }}</td>
      <td [title]="data.taxonomyDescription">{{ data.taxonomyDescription }}</td>
      <td nzEllipsis nzAlign="right" [title]="data.taxonomyOrder">{{ data.taxonomyOrder }}</td>
      <td [title]="data.taxonomyIsRequired ? '是' : '否'">{{ data.taxonomyIsRequired ? '是' : '否' }}</td>
    </ng-container>
    <td nzEllipsis [title]="data.taxonomyStatus">
      <a [ngClass]="'status-' + data.taxonomyStatus"
         routerLink="./" [queryParams]="{status: data.taxonomyStatus}">{{ data.taxonomyStatus | taxonomyStatus }}</a>
    </td>
    <td nzAlign="right">
      <a *ngIf="taxonomyType === 'post'" routerLink="/posts/articles" [queryParams]="{category: data.taxonomySlug}">
        {{ data.objectCount }}</a>
      <a *ngIf="taxonomyType === 'tag'" routerLink="/posts" [queryParams]="{tag: data.taxonomySlug}">{{ data.objectCount }}</a>
      <a *ngIf="taxonomyType === 'link'" routerLink="/links"
         [queryParams]="{taxonomy: data.taxonomyId}">{{ data.objectCount }}</a>
    </td>
    <td nzRight>
      <ng-container *ngIf="taxonomyType !== 'tag' && data.taxonomyStatus === 'publish'">
        <a (click)="editTaxonomy(data.taxonomyId)">新增子分类</a>
        <nz-divider nzType="vertical"></nz-divider>
      </ng-container>
      <a (click)="editTaxonomy(data)" *ngIf="taxonomyType=== 'post'">编辑</a>
      <a (click)="editTaxonomy(data)" *ngIf="taxonomyType=== 'tag'">编辑</a>
      <a (click)="editTaxonomy(data)" *ngIf="taxonomyType=== 'link'">编辑</a>
      <ng-container *ngIf="data.taxonomyStatus !== 'trash' && data.taxonomyIsRequired !== 1">
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="deleteTaxonomies(data)">删除</a>
      </ng-container>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
  当前：第 <span style="color: red">{{ range[0] }}-{{ range[1] }}</span> 条，共：<span style="color: red">{{ total }}</span> 条
</ng-template>
<nz-modal
  nzCentered
  [(nzVisible)]="editModalVisible"
  [nzTitle]="editModalTitle"
  [nzContent]="editModalContent"
  [nzFooter]="editModalFooter"
  (nzOnCancel)="closeEditModal()"
  [nzMaskClosable]="false"
>
  <ng-template #editModalTitle>
    <ng-container [ngSwitch]="taxonomyType">
      <ng-container *ngSwitchCase="'post'">{{activeTaxonomy.taxonomyId ? '编辑' : '新增'}}文章分类</ng-container>
      <ng-container *ngSwitchCase="'tag'">{{activeTaxonomy.taxonomyId ? '编辑' : '新增'}}标签</ng-container>
      <ng-container *ngSwitchCase="'link'">{{activeTaxonomy.taxonomyId ? '编辑' : '新增'}}链接分类</ng-container>
    </ng-container>
  </ng-template>
  <ng-template #editModalContent>
    <form nz-form [formGroup]="taxonomyForm">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="4">名称</nz-form-label>
        <nz-form-control [nzErrorTip]="nameErrorTpl">
          <input nz-input type="text" formControlName="name" [maxlength]="maxNameLength" placeholder="请输入名称"/>
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请输入名称</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">名称最大长度为{{maxNameLength}}字符</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <ng-container *ngIf="taxonomyType !== 'tag'">
        <nz-form-item>
          <nz-form-label nzRequired [nzSpan]="4">别名</nz-form-label>
          <nz-form-control [nzErrorTip]="slugErrorTpl">
            <input nz-input type="text" formControlName="slug" [maxlength]="maxNameLength" placeholder="请输入别名"/>
            <ng-template #slugErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">请输入别名</ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">别名最大长度为{{maxSlugLength}}字符</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired [nzSpan]="4">描述</nz-form-label>
          <nz-form-control [nzErrorTip]="descErrorTpl">
            <nz-textarea-count [nzMaxCharacterCount]="maxDescriptionLength">
              <textarea nz-input rows="4" formControlName="description" placeholder="请输入描述"></textarea>
            </nz-textarea-count>
            <ng-template #descErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">请输入描述</ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">描述最大长度为{{maxDescriptionLength}}字符</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4">父级分类</nz-form-label>
          <nz-form-control>
            <nz-tree-select
              nzShowSearch
              formControlName="parent"
              nzPlaceHolder="请选择分类"
              [nzDisabled]="!!activeTaxonomy.taxonomyIsRequired"
              [nzNodes]="taxonomyTree"
              [nzDropdownStyle]="{'max-height': '400px'}"
              [nzTreeTemplate]="treeTemplate"
            >
              <ng-template #treeTemplate let-node>
                <span [ngClass]="{'node-status-trash': node.origin.isDeleted}">{{ node.title }}</span>
              </ng-template>
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired [nzSpan]="4">排序</nz-form-label>
          <nz-form-control [nzErrorTip]="orderErrorTpl">
            <input nz-input type="text" formControlName="order" [maxlength]="5" placeholder="请输入排序"/>
            <ng-template #orderErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">请输入排序</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">排序值范围为 0~99999</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="4">状态</nz-form-label>
        <nz-form-control [nzErrorTip]="statusErrorTpl">
          <nz-select formControlName="status" nzPlaceHolder="请选择状态">
            <nz-option
              *ngFor="let status of taxonomyStatusList"
              [nzValue]="status.key"
              [nzLabel]="status.label"
              [nzDisabled]="status.disabled"></nz-option>
          </nz-select>
          <ng-template #statusErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">请选择状态</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #editModalFooter>
    <button nz-button (click)="closeEditModal()">取消</button>
    <button nz-button nzType="primary" (click)="saveTaxonomy()" [nzLoading]="saveLoading">确定</button>
  </ng-template>
</nz-modal>
<ng-template #confirmModalContent>
  <div>
    <ng-container *ngIf="taxonomyType === 'tag'">
      <p>删除标签的同时，所有包含此标签的内容将不再含有此标签。</p>
      <p>确定删除这 <span class="confirm-warning">{{checkedLength}}</span> 个标签吗？</p>
    </ng-container>
    <ng-container *ngIf="taxonomyType !== 'tag'">
      <p>请确认其和所有后代分类下已没有关联的{{taxonomyType === 'link' ? '链接' : '文章'}}，否则，将不允许删除。</p>
      <p>删除分类时，其和所有后代分类将同时被删除。</p>
      <p>确定删除这 <span class="confirm-warning">{{checkedLength}}</span> 个分类吗？</p>
    </ng-container>
  </div>
</ng-template>
