<div class="table-operations" [ngSwitch]="postType">
  <ng-container *ngSwitchCase="'post'">
    <a nz-button nzType="primary" routerLink="/post/edit">写文章</a>
    <button nz-button nzType="default" [disabled]="!allChecked && !indeterminate" [nzLoading]="false">快速编辑</button>
  </ng-container>
  <ng-container *ngSwitchCase="'page'">
    <a nz-button nzType="primary" routerLink="/post/edit-standalone">创建新页面</a>
    <button nz-button nzType="default" [disabled]="!allChecked && !indeterminate" [nzLoading]="false">快速编辑</button>
  </ng-container>
  <ng-container *ngSwitchCase="'attachment'">
    <a nz-button nzType="primary" routerLink="/resource/upload">上传文件</a>
  </ng-container>
  <button nz-button nzType="default" [disabled]="!trashEnabled" [nzLoading]="false">删除</button>
  <div class="table-search">
    <nz-input-group nzSearch [nzAddOnAfter]="searchBtn">
      <input nz-input type="text" [(ngModel)]="keyword" (keyup)="onPostSearch($event)" placeholder="Search..."/>
    </nz-input-group>
    <ng-template #searchBtn>
      <button nz-button nzType="primary" (click)="onPostSearch()" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
</div>
<nz-table
  nzShowSizeChanger
  nzSize="middle"
  nzOuterBordered
  nzPaginationType="default"
  [nzData]="postList || []"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total || 0"
  [nzPageIndex]="page"
  [nzPageSize]="pageSize"
  (nzQueryParams)="onQueryParamsChange($event)"
  [nzShowTotal]="rangeTemplate"
  [nzScroll]="{x: tableWidth}"
>
  <thead>
  <tr>
    <th nzWidth="40px" [nzChecked]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
    <ng-container *ngIf="postType !== 'attachment'">
      <th nzWidth="220px" nzColumnKey="postTitle">标题</th>
      <th nzWidth="90px" nzColumnKey="postDate" [nzSortFn]="true" [nzSortPriority]="true" nzCustomFilter>
        日期
        <nz-filter-trigger
          [(nzVisible)]="postDateFilterVisible"
          (nzVisibleChange)="onPostDateFilterVisibleChange($event)"
          [nzActive]="!!postDateYear"
          [nzDropdownMenu]="dateList">
          <i nz-icon nzType="filter" nzTheme="fill"></i>
        </nz-filter-trigger>
      </th>
      <th nzWidth="120px" nzColumnKey="category" *ngIf="postType === 'post'" nzCustomFilter>
        分类
        <nz-filter-trigger
          [(nzVisible)]="categoryFilterVisible"
          (nzVisibleChange)="onCategoryFilterVisibleChange($event)"
          [nzActive]="!!activeCategory"
          [nzDropdownMenu]="categoryList">
          <i nz-icon nzType="filter" nzTheme="fill"></i>
        </nz-filter-trigger>
      </th>
      <th nzColumnKey="tag">标签</th>
      <th nzWidth="80px" nzColumnKey="postViewCount" [nzSortFn]="true" [nzSortPriority]="true">访问</th>
      <th nzWidth="60px" nzColumnKey="commentCount" [nzSortFn]="true" [nzSortPriority]="true">评论</th>
      <th nzWidth="80px" [nzFilters]="statusFilter" [nzFilterFn]="true" nzColumnKey="postStatus">状态</th>
      <th nzWidth="100px" [nzFilters]="commentFlagFilter" [nzFilterFn]="true" nzColumnKey="commentFlag">评论状态</th>
      <th nzWidth="140px" nzColumnKey="postModified" [nzSortFn]="true" [nzSortPriority]="true">修改时间</th>
      <th nzWidth="140px" nzColumnKey="postCreated" [nzSortFn]="true" [nzSortPriority]="true">创建时间</th>
      <th nzWidth="80px" nzColumnKey="author">作者</th>
      <th nzWidth="60px" nzColumnKey="publisher">发布者</th>
      <th nzWidth="170px" nzRight>操作</th>
    </ng-container>
    <ng-container *ngIf="postType === 'attachment'">
      <th nzWidth="240px">标题</th>
      <th nzWidth="300px">文件路径</th>
      <th nzWidth="80px">状态</th>
      <th nzWidth="140px" nzColumnKey="postCreated" [nzSortFn]="true" [nzSortPriority]="true" nzCustomFilter>
        上传时间
        <nz-filter-trigger
          [(nzVisible)]="postDateFilterVisible"
          (nzVisibleChange)="onPostDateFilterVisibleChange($event)"
          [nzActive]="!!postDateYear"
          [nzDropdownMenu]="dateList">
          <i nz-icon nzType="filter" nzTheme="fill"></i>
        </nz-filter-trigger>
      </th>
      <th nzWidth="120px" nzRight>操作</th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of postList">
    <td [nzChecked]="checkedMap[data.post.postId] || false" (nzCheckedChange)="onItemChecked(data.post.postId, $event)"></td>
    <ng-container *ngIf="postType !== 'attachment'">
      <td nzEllipsis [title]="data.post.postTitle">{{ data.post.postTitle }}</td>
      <td [title]="data.post.postDate | date: 'yyyy-MM-dd'">{{ data.post.postDate | date: 'yy-MM-dd' }}</td>
      <td nzEllipsis *ngIf="postType === 'post'">
        <a routerLink="./" [queryParams]="{category: cat.slug}" *ngFor="let cat of data.categories">
          <nz-tag nzColor="blue">{{cat.name}}</nz-tag>
        </a>
      </td>
      <td nzEllipsis>
        <a routerLink="./" [queryParams]="{tag: tag.slug}" *ngFor="let tag of data.tags">
          <nz-tag nzColor="blue">{{tag.name}}</nz-tag>
        </a>
      </td>
      <td>{{ data.post.postViewCount }}</td>
      <td>
        <a routerLink="/comment" [queryParams]="{postId: data.post.postId}">{{ data.post.commentCount || 0 }}</a>
      </td>
      <td>
        <a [ngClass]="'status-' + data.post.postStatus"
           routerLink="./" [queryParams]="{status: data.post.postStatus}">{{ data.post.postStatus | postStatus }}</a>
      </td>
      <td>
        <a [ngClass]="'comment-flag-' + data.post.commentFlag"
           routerLink="./" [queryParams]="{commentFlag: data.post.commentFlag}">{{ data.post.commentFlag | commentFlag }}</a>
      </td>
      <td [title]="data.post.postModified | date:'yyyy-MM-dd HH:mm'">{{ data.post.postModified | date:'yy-MM-dd HH:mm' }}</td>
      <td [title]="data.post.postCreated | date:'yyyy-MM-dd HH:mm'">{{ data.post.postCreated | date:'yy-MM-dd HH:mm' }}</td>
      <td nzEllipsis [title]="data.meta['post_author'] || data.post.author.userNiceName">
        {{ data.meta['post_author'] || data.post.author.userNiceName }}
      </td>
      <td nzEllipsis [title]="data.post.author.userNiceName">{{ data.post.author.userNiceName }}</td>
    </ng-container>
    <ng-container *ngIf="postType === 'attachment'">
      <td nzEllipsis [title]="data.post.postTitle">{{ data.post.postTitle }}</td>
      <td nzEllipsis [title]="data.post.postGuid">
        <a (click)="previewImage(data.post.postGuid)">{{ data.post.postGuid }}</a>
      </td>
      <td>
        <a routerLink="./" [queryParams]="{status: data.post.postStatus}">{{ data.post.postStatus | postStatus }}</a>
      </td>
      <td [title]="data.post.postCreated | date:'yyyy-MM-dd HH:mm'">{{ data.post.postCreated | date:'yy-MM-dd HH:mm' }}</td>
    </ng-container>
    <td nzRight>
      <a (click)="showPostModal(data)">快速编辑</a>
      <nz-divider nzType="vertical"></nz-divider>
      <ng-container *ngIf="postType !== 'attachment'">
        <a [routerLink]="postType === 'post' ? './edit' : './edit-standalone'" [queryParams]="{postId: data.post.postId}">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
      </ng-container>
      <a href="#">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
  当前：第 <span style="color: red">{{ range[0] }}-{{ range[1] }}</span> 条，共：<span style="color: red">{{ total }}</span> 条
</ng-template>
<nz-dropdown-menu #dateList>
  <div class="ant-table-filter-dropdown">
    <div class="filter-box">
      <nz-select nzAllowClear [(ngModel)]="postDateYear" (ngModelChange)="onPostDateYearChange($event)" nzPlaceHolder="年">
        <nz-option *ngFor="let item of postDateYearList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
      </nz-select>
      <nz-select nzAllowClear [(ngModel)]="postDateMonth" nzPlaceHolder="月">
        <nz-option *ngFor="let item of postDateMonthList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
      </nz-select>
      <div class="filter-btns">
        <button nz-button nzSize="small" nzType="link" (click)="onPostDateFilterReset()" [disabled]="!postDateYear">重置</button>
        <button nz-button nzSize="small" nzType="primary" (click)="onPostDateFilterOk()" class="search-button">确定</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #categoryList>
  <div class="ant-table-filter-dropdown">
    <div class="filter-box">
      <nz-tree-select
        nzShowSearch
        nzPlaceHolder="请选择分类"
        [nzDropdownStyle]="{'max-height': '320px'}"
        [nzExpandedKeys]="postCategoryExpanded"
        [nzNodes]="categoryFilterList"
        [(ngModel)]="activeCategory"
      ></nz-tree-select>
      <div class="filter-btns">
        <button nz-button nzSize="small" nzType="link" (click)="onCategoryFilterReset()" [disabled]="!activeCategory">重置</button>
        <button nz-button nzSize="small" nzType="primary" (click)="onCategoryFilterOk()" class="search-button">确定</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>
<nz-modal
  nzCentered
  [(nzVisible)]="postModalVisible"
  [nzTitle]="postModalTitle"
  [nzContent]="postModalContent"
  [nzFooter]="postModalFooter"
  (nzOnCancel)="closePostModal()"
  [nzWidth]="800"
  [nzMaskClosable]="false"
>
  <ng-template #postModalTitle>
    <ng-container [ngSwitch]="postType">
      <ng-container *ngSwitchCase="'post'">快速编辑文章</ng-container>
      <ng-container *ngSwitchCase="'page'">快速编辑独立页面</ng-container>
      <ng-container *ngSwitchCase="'attachment'">快速编辑文件</ng-container>
    </ng-container>
  </ng-template>
  <ng-template #postModalContent>
    <form nz-form [formGroup]="postForm" class="post-form">
      <div nz-row [nzGutter]="postFormRowGutter">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired>标题</nz-form-label>
            <nz-form-control [nzErrorTip]="titleErrorTpl">
              <input nz-input type="text" formControlName="title" placeholder="请输入标题"/>
              <ng-template #titleErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">请输入标题</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <ng-container *ngIf="postType !== 'attachment'">
        <div nz-row [nzGutter]="postFormRowGutter">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired>发布时间</nz-form-label>
              <nz-form-control [nzErrorTip]="postDateErrorTpl">
                <nz-date-picker
                  formControlName="postDate"
                  nzPlaceHolder="请选择发布时间"
                  [nzDisabledDate]="disabledDate"
                ></nz-date-picker>
                <ng-template #postDateErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">请选择发布时间</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="postFormRowGutter">
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label nzRequired>分类</nz-form-label>
              <nz-form-control [nzErrorTip]="categoryErrorTpl">
                <nz-tree-select
                  nzShowSearch
                  nzCheckable
                  nzDefaultExpandAll
                  formControlName="category"
                  nzPlaceHolder="请选择分类"
                  [nzDropdownStyle]="{'max-height': '400px'}"
                  [nzNodes]="postCategoryList"
                ></nz-tree-select>
                <ng-template #categoryErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">请选择分类</ng-container>
                  <ng-container *ngIf="control.hasError('maxsize')">分类最多选择{{maxTaxonomyNumber}}个</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-container>
      <div nz-row [nzGutter]="postFormRowGutter">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label>标签</nz-form-label>
            <nz-form-control>
              <nz-select
                nzMode="tags"
                nzShowSearch
                nzServerSearch
                nzAllowClear
                formControlName="tag"
                nzPlaceHolder="请选择标签"
                [nzMaxTagCount]="maxTagNumber"
                [nzMaxMultipleCount]="maxTagNumber"
                (nzOnSearch)="onTagSearch($event)"
              >
                <ng-container *ngFor="let tag of tagList">
                  <nz-option *ngIf="!tagListLoading" [nzLabel]="tag" [nzValue]="tag"></nz-option>
                </ng-container>
                <nz-option nzCustomContent nzDisabled *ngIf="tagListLoading">
                  <div class="select-loading">
                    <i nz-icon nzType="loading"></i>
                    <span>Loading...</span>
                  </div>
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="postFormRowGutter">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzRequired>公开度</nz-form-label>
            <nz-form-control>
              <nz-radio-group formControlName="status" nzName="postStatus">
                <label nz-radio nzValue="publish">公开</label>
                <label nz-radio nzValue="password" *ngIf="postType !== 'attachment'">加密</label>
                <label nz-radio nzValue="private" *ngIf="postType !== 'attachment'">隐藏</label>
                <label nz-radio nzValue="trash">删除</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="postFormRowGutter"
           *ngIf="postForm.get('status')?.value === 'password'">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired>密码</nz-form-label>
            <nz-form-control
              [nzValidateStatus]="postForm.get('password')?.dirty && postForm.errors?.['password'] ? 'error' : 'success'"
              [nzErrorTip]="passwordErrorTpl"
            >
              <input nz-input type="text" formControlName="password" placeholder="请输入密码"/>
              <ng-template #passwordErrorTpl>
                <ng-container *ngIf="postForm.errors?.['password']">请输入密码</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <ng-container *ngIf="postType !== 'attachment'">
        <div nz-row [nzGutter]="postFormRowGutter">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired>评论开关</nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="commentFlag" nzName="commentFlag">
                  <label nz-radio nzValue="open">允许</label>
                  <label nz-radio nzValue="verify">审核</label>
                  <label nz-radio nzValue="close">禁止</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-container>
      <div nz-row [nzGutter]="postFormRowGutter">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired>是否原创</nz-form-label>
            <nz-form-control>
              <nz-radio-group formControlName="original" nzName="original">
                <label nz-radio [nzValue]="1">原创</label>
                <label nz-radio [nzValue]="0">转载</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="postFormRowGutter"
           *ngIf="postForm.get('original')?.value === 0">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired>来源</nz-form-label>
            <nz-form-control
              [nzValidateStatus]="postForm.get('source')?.dirty && postForm.errors?.['source'] ? 'error' : 'success'"
              [nzErrorTip]="sourceErrorTpl"
            >
              <input nz-input type="text" formControlName="source" placeholder="请输入来源"/>
              <ng-template #sourceErrorTpl>
                <ng-container *ngIf="postForm.errors?.['source']">请输入来源</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired>作者</nz-form-label>
            <nz-form-control
              [nzValidateStatus]="postForm.get('author')?.dirty && postForm.errors?.['author'] ? 'error' : 'success'"
              [nzErrorTip]="authorErrorTpl"
            >
              <input nz-input type="text" formControlName="author" placeholder="请输入作者"/>
              <ng-template #authorErrorTpl>
                <ng-container *ngIf="postForm.errors?.['author']">请输入作者</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <ng-container *ngIf="postType !== 'attachment'">
        <div nz-row [nzGutter]="postFormRowGutter">
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label nzRequired>版权类型</nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="copyrightType" nzName="copyrightType">
                  <label nz-radio [nzValue]="0">禁止转载</label>
                  <label nz-radio [nzValue]="1">转载需授权</label>
                  <label nz-radio [nzValue]="2">CC-BY-NC-ND</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="postFormRowGutter">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired>插入名片</nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="wechatCardFlag" nzName="wechatCardFlag">
                  <label nz-radio [nzValue]="1">带分隔线</label>
                  <label nz-radio [nzValue]="2">仅名片</label>
                  <label nz-radio [nzValue]="0">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="postFormRowGutter">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired>更新时间</nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="updateFlag" nzName="updateFlag">
                  <label nz-radio [nzValue]="1">是</label>
                  <label nz-radio [nzValue]="0">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="postType === 'attachment'">
        <div nz-row [nzGutter]="postFormRowGutter">
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label nzRequired>图片描述</nz-form-label>
              <nz-form-control [nzErrorTip]="excerptErrorTpl">
                <nz-textarea-count [nzMaxCharacterCount]="maxExcerptLength">
                  <textarea nz-input rows="6" formControlName="excerpt" placeholder="请输入图片描述"></textarea>
                </nz-textarea-count>
                <ng-template #excerptErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">请输入图片描述</ng-container>
                  <ng-container *ngIf="control.hasError('maxlength')">图片描述最大长度为{{maxExcerptLength}}字符</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-container>
    </form>
  </ng-template>
  <ng-template #postModalFooter>
    <button nz-button nzType="default" (click)="closePostModal()">取消</button>
    <button nz-button nzType="primary" (click)="savePost()" [nzLoading]="saveLoading">确定</button>
  </ng-template>
</nz-modal>
