@tag-active-bg: #1890ff;
@tag-active-color: #fff;

nz-tag:hover {
  background-color: @tag-active-bg;
  color: @tag-active-color;
  border-color: @tag-active-bg;
}

.comment-flag {
  &-open {
    color: var(--status-normal-color);
  }

  &-verify {
    color: var(--status-pending-color);
  }

  &-close {
    color: var(--status-disabled-color);
  }
}

.status {
  &-publish {
    color: var(--status-normal-color);
  }

  &-password {
    color: var(--status-password-color);
  }

  &-private {
    color: var(--status-private-color);
  }

  &-draft, &-auto-draft {
    color: var(--status-pending-color);
  }

  &-trash {
    color: var(--status-disabled-color);
  }
}
.filter-box {
  @space-width: 8px;
  padding: @space-width;
  nz-select {
    width: 100px;
    + nz-select {
      margin-left: @space-width;
    }
  }
  nz-tree-select {
    width: 180px;
  }
  .filter-btns {
    margin-top: @space-width;
    padding-top: 8px;
    border-top: 1px solid #f0f0f0;
    text-align: center;
    [nz-button] + [nz-button] {
      margin-left: @space-width;
    }
  }
}
