<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <img src="assets/images/logo.png" alt="logo">
        <h1>{{(options$ | async)?.['site_name']}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu
          nzOpen
          nzTitle="首页"
          nzIcon="home"
          [(nzOpen)]="openMap['home']"
          (nzOpenChange)="openHandler('home')">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">仪表盘</a>
          </li>
        </ul>
      </li>
      <li nz-submenu
          nzOpen
          nzTitle="文章管理"
          nzIcon="form"
          [(nzOpen)]="openMap['post']"
          (nzOpenChange)="openHandler('post')">
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a routerLink="/post">文章列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/post/form">写文章</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/post/standalone">页面列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/post/form-standalone">创建新页面</a>
          </li>
        </ul>
      </li>
      <li nz-submenu
          nzOpen
          nzTitle="评论管理"
          nzIcon="comment"
          [(nzOpen)]="openMap['comment']"
          (nzOpenChange)="openHandler('comment')">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/comment">评论列表</a>
          </li>
        </ul>
      </li>
      <li nz-submenu
          nzOpen
          nzTitle="类别管理"
          nzIcon="tags"
          [(nzOpen)]="openMap['taxonomy']"
          (nzOpenChange)="openHandler('taxonomy')">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/taxonomy/post">文章分类管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/taxonomy/tag">标签管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/taxonomy/link">链接分类管理</a>
          </li>
        </ul>
      </li>
      <li nz-submenu
          nzOpen
          nzTitle="素材管理"
          nzIcon="picture"
          [(nzOpen)]="openMap['resource']"
          (nzOpenChange)="openHandler('resource')">
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a routerLink="/resource">素材列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/resource/upload">文件上传</a>
          </li>
        </ul>
      </li>
      <li nz-submenu
          nzOpen
          nzTitle="链接管理"
          nzIcon="link"
          [(nzOpen)]="openMap['link']"
          (nzOpenChange)="openHandler('link')">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/link">链接列表</a>
          </li>
        </ul>
      </li>
      <li nz-submenu
          nzOpen
          nzTitle="网站设置"
          nzIcon="setting"
          [(nzOpen)]="openMap['setting']"
          (nzOpenChange)="openHandler('setting')">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/setting">网站设置</a>
          </li>
        </ul>
      </li>
      <li nz-submenu
          nzOpen
          nzTitle="日志"
          nzIcon="database"
          [(nzOpen)]="openMap['log']"
          (nzOpenChange)="openHandler('log')">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/log/access">访客日志</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/log/system">系统日志</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
