<nz-layout class="app-layout">
  <nz-sider nzCollapsible
            class="app-sider"
            nzWidth="200px"
            nzBreakpoint="md"
            [nzCollapsedWidth]="48"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <img src="assets/images/logo.png" alt="logo">
        <h1>{{(options$ | async)?.['site_name']}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ng-template #menuItemTpl let-menu>
        <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
        <span *ngIf="!menu.url">{{ menu.title }}</span>
        <a *ngIf="menu.url" [routerLink]="menu.url">{{ menu.title }}</a>
      </ng-template>
      <ng-container *ngFor="let menu of menus">
        <li nz-submenu
            *ngIf="menu.children"
            [nzTitle]="menu.title"
            [nzIcon]="menu.icon || ''"
            [nzPaddingLeft]="isCollapsed ? 16 : menu.level * 24"
            [(nzOpen)]="openMap[menu.key]"
            (nzOpenChange)="onMenuOpen(menu.key)">
          <ul>
            <li nz-menu-item
                *ngFor="let subMenu of menu.children"
                [nzPaddingLeft]="isCollapsed ? 16 : subMenu.level * 24"
                [nzSelected]="selectedMap[subMenu.key]">
              <ng-container *ngTemplateOutlet="menuItemTpl; context: { $implicit: subMenu }"></ng-container>
            </li>
          </ul>
        </li>
        <li nz-menu-item
            *ngIf="!menu.children"
            [nzPaddingLeft]="isCollapsed ? 16 : menu.level * 24"
            [nzSelected]="selectedMap[menu.key]">
          <ng-container *ngTemplateOutlet="menuItemTpl; context: { $implicit: menu }"></ng-container>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="onCollapsedChange()">
            <i nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="header-user" *ngIf="isLoggedIn">欢迎，{{loginUser?.userName}}</span>
      </div>
    </nz-header>
    <nz-content>
      <div class="app-content">
        <i-breadcrumb></i-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
