<div class="table-operations">
  <button nz-button [disabled]="!pendingEnabled" (click)="auditComments('normal')">批准</button>
  <button nz-button [disabled]="!pendingEnabled" (click)="auditComments('reject')">驳回</button>
  <button nz-button [disabled]="!pendingEnabled" (click)="auditComments('spam')">垃圾评论</button>
  <button nz-button [disabled]="!trashEnabled" (click)="auditComments('trash')">删除</button>
  <div class="table-search">
    <nz-input-group nzSearch [nzAddOnAfter]="searchBtn">
      <input type="text" nz-input [(ngModel)]="keyword" (keyup)="onSearch($event)" placeholder="Search..."/>
    </nz-input-group>
    <ng-template #searchBtn>
      <button nz-button nzType="primary" (click)="onSearch()" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
</div>
<nz-table
  nzShowSizeChanger
  nzOuterBordered
  nzSize="middle"
  nzTableLayout="fixed"
  nzPaginationType="default"
  [nzData]="commentList || []"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total || 0"
  [nzPageIndex]="page"
  [nzPageSize]="pageSize"
  (nzQueryParams)="onQueryParamsChange($event)"
  [nzShowTotal]="rangeTemplate"
  [nzScroll]="{x: '1300px'}"
>
  <thead>
  <tr>
    <th nzWidth="40px" [nzChecked]="allChecked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></th>
    <th nzWidth="260px" nzColumnKey="content">评论内容</th>
    <th nzWidth="180px" nzColumnKey="postTitle">文章</th>
    <th nzWidth="130px" nzColumnKey="created" [nzSortFn]="true" [nzSortPriority]="true">时间</th>
    <th nzWidth="80px" [nzFilters]="statusFilter" [nzFilterFn]="true" nzColumnKey="status">状态</th>
    <th nzWidth="60px" nzColumnKey="commentVote" [nzSortFn]="true" [nzSortPriority]="true">点赞</th>
    <th nzWidth="100px" nzColumnKey="user">评论用户</th>
    <th nzWidth="140px" nzColumnKey="email">评论邮箱</th>
    <th nzRight>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of commentList">
    <td [nzChecked]="checkedMap[data.commentId] || false"
        (nzCheckedChange)="onItemChecked(data.commentId, $event)"></td>
    <td nzEllipsis [title]="data.commentContent">
      <a (click)="editComment('detail', data)">{{ data.commentContent }}</a>
    </td>
    <td nzEllipsis [title]="data.post?.postTitle">
      <a [href]="data.post?.postGuid" target="_blank">{{ data.post?.postTitle }}</a>
    </td>
    <td nzEllipsis [title]="data.created | date:'yyyy-MM-dd HH:mm'">{{ data.created | date:'yy-MM-dd HH:mm' }}</td>
    <td>
      <a [ngClass]="'status-' + data.commentStatus" routerLink="./"
         [queryParams]="{status: data.commentStatus}">{{ data.commentStatus | commentStatus }}</a>
    </td>
    <td nzAlign="right" [title]="data.commentVote">{{ data.commentVote }}</td>
    <td nzEllipsis [title]="data.commentAuthor">{{ data.commentAuthor }}</td>
    <td nzEllipsis [title]="data.commentAuthorEmail">{{ data.commentAuthorEmail }}</td>
    <td nzRight>
      <ng-container *ngIf="data.commentStatus === 'pending'">
        <a class="button-normal" (click)="auditComments('normal', data.commentId)">批准</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a class="button-reject" (click)="auditComments('reject', data.commentId)">驳回</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a class="button-spam" (click)="auditComments('spam', data.commentId)">垃圾评论</a>
        <nz-divider nzType="vertical"></nz-divider>
      </ng-container>
      <ng-container *ngIf="data.commentStatus === 'normal' || data.commentStatus === 'pending'">
        <a (click)="editComment('reply', data)">回复</a>
        <nz-divider nzType="vertical"></nz-divider>
      </ng-container>
      <a (click)="editComment('edit', data)">编辑</a>
      <ng-container *ngIf="data.commentStatus !== 'trash'">
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="auditComments('trash', data.commentId)">删除</a>
      </ng-container>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
  当前：第 <span style="color: red">{{ range[0] }}-{{ range[1] }}</span> 条，共：<span style="color: red">{{ total }}</span> 条
</ng-template>
<ng-template #confirmModalContent>
  <ng-container [ngSwitch]="auditAction">
    <div *ngSwitchCase="'spam'">确定将这 <span class="confirm-warning">{{checkedLength}}</span> 条评论标记为垃圾评论吗？</div>
    <div *ngSwitchCase="'normal'">确定批准这 <span class="confirm-warning">{{checkedLength}}</span> 条评论吗？</div>
    <div *ngSwitchCase="'reject'">确定驳回这 <span class="confirm-warning">{{checkedLength}}</span> 条评论吗？</div>
    <div *ngSwitchCase="'trash'">确定删除这 <span class="confirm-warning">{{checkedLength}}</span> 条评论吗？</div>
  </ng-container>
</ng-template>
<i-comment-modal
  *ngIf="commentModalVisible"
  [action]="commentAction"
  [comment]="activeComment"
  (closeModal)="closeCommentModal()"
  (onSuccess)="onCommentSave()">
</i-comment-modal>
