// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
// @primary-color: #1890ff;
.ant-picker {
  width: 100%;
}

:root {
  --status-normal-color: #389e0d;
  --status-pending-color: #ff4d4f;
  --status-disabled-color: #666;
  --status-reject-color: #faad14;
  --status-spam-color: #531dab;
  --status-private-color: #faad14;
  --status-password-color: #d4380d;
  --body-min-width: 1200px;
}

.table-operations {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  [nz-button] + [nz-button] {
    margin-left: 8px;
  }

  .table-search {
    width: 240px;
  }
}

.status, .button {
  &-publish, &-normal {
    &, &:hover {
      color: var(--status-normal-color);
    }
  }

  &-password, &-password:hover {
    color: var(--status-password-color);
  }

  &-private, &-private:hover {
    color: var(--status-private-color);
  }

  &-draft, &-auto-draft {
    &, &:hover {
      color: var(--status-pending-color);
    }
  }

  &-trash, &-trash:hover {
    color: var(--status-disabled-color);
  }

  &-pending, &-pending:hover, &-emphasis, &-emphasis:hover {
    color: var(--status-pending-color);
  }

  &-reject, &-reject:hover {
    color: var(--status-reject-color);
  }

  &-spam, &-spam:hover {
    color: var(--status-spam-color);
  }
}

.confirm-with-no-title {
  .ant-modal-confirm-content {
    margin-top: 0;
  }
}

.confirm-warning {
  color: #ff4d4f;
  font-weight: bold;
}

.confirm-list {
  margin-top: 4px;

  .confirm-list-index {
    display: inline-block;
    margin-right: 8px;
    width: 24px;
    text-align: right;
  }

  nz-list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.select-loading {
  text-align: center;

  [nz-icon] {
    margin-right: 8px;
  }
}

.modal-detail {
  .row {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .label {
    display: inline-block;
    flex: 0 0 100px;
    text-align: right;

    &:after {
      position: relative;
      top: -0.5px;
      margin: 0 8px 0 2px;
      content: ':';
    }
  }

  .content {
    flex: 1 1 0;
  }
}
